@model IEnumerable<OnlineShopping.Models.Sales>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Qantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
